<html>
<head>
	<title></title>
</head>
<body>

<!-- ***************************** Contact US PoP Up *********************************-->
<div class="popup_smal_offer_outer" style="display: none;" id="contactUsPopup">
        <div class="popup_smal_offer">
            <div class="popup_smal_offer_head">
                Contact Us <span onclick="contUsPopSH(0)">x</span>
            </div>
            <div class="popup_smal_offer_body">
                <strong>Email Address: </strong> <span style=" color: #1290d9;">
       <a href="mailto:cvssupport@cardcash.com?Subject=Hello" target="_top">cvssupport@cardcash.com<script cf-hash="f9e31" type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a><br><br></span>
                <strong>Phone:</strong> (855) CVS - 7555
            </div>

        </div>
</div>






<!-- ***************************** PoP Up: Attach File *********************************-->
<div class="popup_smal_offer_outer" style="display: none;" id="fileUpload">
	<div id="blue_panel" class="popup_smal_offer">
	    <div class="popup_smal_offer_head">
	       Attach file<span onclick="fileUpload(0)" style=" font-size: 28px; font-weight: 100; margin-right: 5px; margin-top: -6px;">x</span>
	    </div>
	    <div style=" margin: 20px;" class="popup_smal_offer_body">
	        <div class="row" style="margin: 0">
	            <div class="col-md-12 m_b10">
	                <img width="16" src="/images/computer.png"><span style=" margin-left: 10px">My Computer</span>
	            </div>
	        </div>
	        <div class="row" style="margin: 0">

	            <form name="upForm" id="upForm" enctype="multipart/form-data" action="/step1/upload" method="post">
	                <div class="col-md-6">
	                    <input type="file" style="float: left;" class="" name="xlFile" id="xlFile">
	                </div>
	                <div class="col-md-6">
	                    <input type="submit" class="btn btn-info" name="sentIT" id="sentIT" value="Upload">
	                </div>
	            </form>
	        </div>
	        <div class="col-md-12 text-right m_t10">
	            <div class="row" style="margin: 0">
	                <input type="button" value="Cancel" class="btn uploadCancel" onclick="fileUpload(0)">
	            </div>
	        </div>

	    </div>
	</div>
</div>







<!-- ***************************** PoP Up: Bulk Seller *********************************-->
<div class="popup_smal_offer_outer" style="display: none;" id="bulkPopup">
    <div class="bulk_popup_smal_offer">
     <div class="bulk_popup_smal_offer_head">
       <a href="/login">Login and download bulk sell form here</a><span onclick="bulkPopup(0)">x</span>
      </div>
      <div class="popup_smal_offer_body">
       <p class="text-center">
        Are you selling $5000+ in <br> Gift Cards today?<br>For more personal service, call:<br>
        855-364-0488</p>
      </div>
      
    </div>
</div>





</body>
</html>