
<div class="main_img" >
  <div class="row m0 main_img_content">
      <div class="col-xs-12">

          <div class="col-xs-6 gift_card_are_now text-center">
              <h1 style="font-weight:bold;text-align:center;">
                <span style="font-size: 32px; color:#2D7DD3">礼品卡兑换 </span> <span style="color:#A7801C; font-size:52px;">现金</span> </h1>
              <p class="m_b30" style="text-align:center;">iHaoKa是中国最大的礼品卡交易平台<br> 将手中闲置的礼品卡兑换成现金，购买更低折扣的礼品卡 
                <br>提供45天的账户交易安全保障</p>
              <a href="/buy" class="btn btn-primary btn-lg m_r_10" style="border-radius:6px 0 0 6px;">购买礼品卡</a>
              <a href="/sell" class="btn btn-success btn-lg" style="border-radius:0 6px 6px 0;">出售礼品卡</a>
          </div>
          <div class="col-xs-6">
            <div id="content-wrapper">
            <section id="start">
            <div id="intro">
                <h1></h1>
                <img class="wand " src="/static/img/card4.png" style="left: 135px; top: 118px; -webkit-transform: matrix(0.88294, -0.46947, 0.46947, 0.88294, 0, 0); opacity: 1;">
                <img class="wand2" src="/static/img/card3.png" style="left: 77px; top: 0px; -webkit-transform: matrix(0.57357, -0.81915, 0.81915, 0.57357, 0, 0); opacity: 1; ">
                <img class="wand3" src="/static/img/card2.png" style="left: -57px; top: 30px; -webkit-transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0); opacity: 1;">
                <img class="wand4" src="/static/img/card1.png" style="left: -117px; top: 128px; -webkit-transform: matrix(0.96592, 0.25881, -0.25881, 0.96592, 0, 0); opacity: 1;">
            </div>

            </section>
            </div>
          </div>
      </div>
  </div>
</div>
</div>
<!-- *** Row 1 END ****-->



<!-- *** Row 2: Sell gift card ****-->
<hr class="m_t_0 m_b_0">
<div class="container" style="height:500px;">
    <div class="row section1">
        <div class="col-md-12">

            <div class="col-md-6 sell-gift-cart" style="margin-top: 120px;">       
                 <img class="sell_icon_n " src="/static/img/sell_icon.png">                
                    <h1 class="m_t_0">出售礼品卡</h1>
                    <p class="m_b30">有不需要或者永远不会用的卡么？与其扔进垃圾箱，不如找我们！爱好卡能给您提供 <span>高至92折</span> 的价格收购您手中的卡，并给您提供了多种支付方式选择。赶快点击这里吧！</p>
                    <a href="/sell" class="btn btn-default btn-lg">&nbsp; &nbsp; &nbsp;  立即出售 &nbsp; &nbsp; &nbsp; </a>        
            </div>
            <div class="col-md-6">
              <div id="content-wrapper">
                <div class="pouch2"><img src="/static/img/purse.jpg" width="449" height="390"></div>
              </div>
            </div>

        </div> 
    </div>
</div>
<!-- *** Row 2 END ****-->



<!-- *** Row 3: Buy gift card ****-->
<hr class="m_t_0 m_b_0">
<div class="container"  style="height:460px;">
    <div class="row section2">
        <div class="col-md-12" style="height:390px; margin-top:10px">
            <div class="col-md-6" style="margin-top:2px;">
                <img src="/static/img/cards_gather.jpg" alt="">

<!--                 <div class="col-sm-6">
                  <a href="#"><img src="/static/img/homedepot.png" alt=""></a>
                </div>
                <div class="col-sm-6">
                  <a href="#"><img src="/static/img/resturant.png" alt=""></a>
                </div>

                <div class="col-sm-6" style="margin-top:20px;">
                  <a href="#"><img src="/static/img/walmart.png" alt=""></a>
                </div>
                <div class="col-sm-6" style="margin-top:20px;">
                  <a href="#"><img src="/static/img/nike.png" alt=""></a>
                </div> -->

            </div>
            <div class="col-md-6 sell-gift-cart" style="margin-top: 1px;">
                <img class="sell_icon_n " src="/static/img/buy_icon.png" >
                    <h1>购买礼品卡</h1>
                    <p class="m_b30">无需动脑快来这里！如果你能用 <span>65折</span>的折扣购买一张礼品卡，何需全价买！我们拥有国内最大的折扣礼品卡库存，且拥有礼品卡权威机构的认证，还能为您提供45天交易保障！您完全可以放心购买！</p>
                    <a href="/buy" class="btn btn-default btn-lg">&nbsp; &nbsp; &nbsp;  立即购买 &nbsp; &nbsp; &nbsp; </a>
            </div>
        </div>
    </div>
</div>





<!-- *** Row 4: Protection ****-->
<hr class="m_t_0 m_b_0">
<div class="container" style="height: 300px;">    
    <div class="row section3">
        <div class="col-md-12">
            <div class="col-md-2 col-md-offset-2"><img src="/static/img/lock_logo.png" width="134" height="159"></div>
            <div class="col-md-6">
                <h2>45天交易保障</h2>
                <p class="m_b30"> 我们出售的所有卡都经过严格认证，并且我们的卖家都通过了严格的背景审核。有了这些，加上我们的45天交易保障机制，您就能明白为什么说爱好卡是国内最安全的礼品卡交易平台！
            </p></div>
        </div>
    </div>
</div>


<!-- *** Row 5: discount cards ****-->
<hr class="m_t_0 m_b_0">
<div class="section5">
    <div class="container">
        <div class="row" style="margin: 0px;">
            <div class="col-md-12 text-center">
                <h1>最受欢迎 </h1>
            </div>

            <div class="col-md-12 text-center"  style="margin-top: 60px;">
                <div class="col-md-2">
                                    <div class="col-md-12">
                                     <a href="/buy/list/nike">       
                                     <img src="/static/img/nike.png" width="166" height="111">
                                     </a>

                                    </div>
                                    <div class="col-md-12 text-left"> <strong> 耐克运动 </strong><br>
                                        <big>up to 14% </big>
                                    </div>
                </div>
                           
                <div class="col-md-2">
                        <div class="col-md-12">
                         <a href="/buy/list/starbuck">       
                         <img src="/static/img/starbucks.png" width="166" height="111">
                         </a>
                        </div>
                        <div class="col-md-12 text-left"> <strong> 星巴克 </strong><br>
                            <big>up to 5% </big>
                        </div>
                </div>
               
                <div class="col-md-2">
                                    <div class="col-md-12">
                                     <a href="/buy/list/walmart">       
                                     <img src="/static/img/walmart.png" width="166" height="111">
                                     </a>

                                    </div>
                                    <div class="col-md-12 text-left"> <strong> 沃尔玛 </strong><br>
                                        <big>up to 16% </big>
                                    </div>
                </div>
                           
                <div class="col-md-2">
                                    <div class="col-md-12">
                                     <a href="/buy/list/sephora">       
                                     <img src="/static/img/Sephora.png" width="166" height="111">
                                     </a>

                                    </div>
                                    <div class="col-md-12 text-left"> <strong> 美妆 </strong><br>
                                        <big>up to 8% </big>
                                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center m_t20 m_b20 text-center">
                <a href="/buy" class="btn btn-primary2 btn-lg">浏览所有礼品卡</a>
            </div>
 
        </div>
    </div>
</div>




<!-- *** Row 6: customer Info ****-->
<!-- 暂时保留 -->
<div class="section6">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>We love our customers, and they love us!</h1>
            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="testimonials_box"> "For years I was a gift card hoarder. I would get all these gift cards from places I never shop and had no intention of ever shopping. Last semester I found out about gift card change and was able to sell all my unwanted gift cards and it helped me pay for my college textbooks." <br>
                        <br>
                        <div class="autor"><strong>- <i>Jenny Cooper</i>, </strong> New York, NY</div>
                        <img src="/static/img/corrner.png" width="27" height="57" class="corrner"> </div>
                </div>
                
                <div class="col-md-4">
                    <div class="testimonials_box"> "Buying discounted gift cards is like getting cash to many of my favorite retailers for less and still being able to use coupons in conjunction -- awesome" <br>
                        <br>
                        <div class="autor"><strong>- <i>Lauren Arce</i> </strong> New York, NY</div>
                        <img src="/static/img/corrner.png" width="27" height="57" class="corrner"> </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonials_box"> "I sell to give others things they want at less on places that I have things I don't want! I buy so I can spend the extra money on impromptu ice cream trips with my kids;-) Oh and shhhhhhhhhhhhhh....Disney World takes Disney Store gift cards so if you are planning a trip....every little bit helps!!!!!!" <br>
                        <br>
                        <div class="autor"><strong>- <i>Allison Stevens</i></strong> New York, NY</div>
                        <img src="/static/img/corrner.png" width="27" height="57" class="corrner"> </div>
                </div>
            </div>
            <!--<div class="col-md-12 text-center m_t20 m_b20 text-center" >
                <button class="btn btn-primary3 btn-lg">VIEW MORE TESTIMONIALS</button>
            </div>-->
        </div>
    </div>
</div>




<div class="section7">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>大额度交易客户</h1>
            </div>
            <div class="col-md-12 text-center m_t20 m_b30">
                <p>出售或者购买大量的礼品卡？请加入我们的大额VIP客户服务，这里有更多的优惠！ </p>
            </div>
            <div class="col-md-12 m_b30">
                <div class="col-md-4">
                    <h2><span class="hp_user_icon"><img src="/static/img/user_icon.png" width="22" height="22"></span>VIP专线服务</h2>
                    <p>我们会对大宗交易客户提供一对一的VIP服务，包括更多的优惠信息提供，专业的客服帮助您处理交易过程中的任何问题。</p>
                </div>
                <div class="col-md-4">
                    <h2><span class="hp_user_icon"><img src="/static/img/like_icon.png" width="22" height="22"></span>灵活支付方式</h2>
                    <p>提供多种灵活的支付手段，包括预约上门交易，线上账户支付。</p>
                </div>
                <div class="col-md-4">
                    <h2><span class="hp_user_icon"><img src="/static/img/home_icon.png" width="22" height="22"></span>防欺诈交易保障</h2>
                    <p>作为中国最大的礼品卡交易平台，我们为您提供全方位的防欺诈和交易保障系统。让您全程无忧的进行每一次交易。 </p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ********** who we are ************* -->
<!-- <div class="section8">
    <div class="container">
        <div class="row">
            <div class="row" style="margin: 0">
            <div class="col-md-12 text-left m_t20  ">
                <h1 style="margin-top:20px;"> Who we are</h1>
            </div>
                </div>
            <div class="row" style="margin: 0">
            <div class="col-md-12 text-left m_t20 m_b30 ">
                <p>Founded in 2008, CardCash.com provides an answer to two common questions: What can I do with all of these gift cards I will never use? How can I easily save money? </p>

                <p>CardCash pays cash for unwanted gift cards and then sells those cards at a discount. Make money, save money - that's CardCash.</p>

                <p>Featured twice on Forbes and an astonishing four times on the Inc 500 list of Fastest Growing Companies in America, we’d still rather brag about our customers, our team, and our fantastic product.</p>

                <p>After a $6 million round of funding from Guggenheim partners in late 2013, CardCash was fortunate enough to form strategic a partnership with Incomm, the industry leader in the primary gift card market. CardCash also acquired Plastic Jungle, its largest competitor, and entered into agreements to power gift card exchange for Walmart, Amazon, CVS, and United Airlines.</p>

                <p>Join the CardCash family today. We’d love to have you!</p>
            </div>
            </div>
        </div>
    </div>
</div> -->


<div class="section9">
</div>

<div class="section10"  style="background-color:#339DDA;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m_t20">
                <div class="col-md-8 col-md-offset-1">
                    <h2 style="color:white;"><strong style="font-weight:800;">更多信息： 企业级福利卡定制，团体购买礼品卡业务，亲友馈赠等</strong></h2>
                </div>
                <div class="col-md-2 text-left m_t10">
                    <a href="/contact" class="btn btn-white3 btn-lg">联系客服 </a>
                </div>
            </div>
        </div>
    </div>
</div>
